<section class="container-fluid bg-dark d-flex flex-column  ">
    <div class="row">
        <div class="col-md-7 mt-4 p-5">
            <h1 class="text-white"
                style="font-family: 'Great Vibes', cursive;font-family: 'Lobster', cursive; font-size: 4rem;">Find Real
                State And Get Your Dream Space</h1>
            <p class="text-white mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, odit incidunt
                ipsum magnam deleniti, possimus nobis accusantium pariatur cum vel neque unde architecto consequuntur
                vero, repudiandae culpa veritatis hic nam.</p>
            <form class="d-flex  mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
        <div class="col-md-5">
            <img [src]="imageUrl" alt="My Image" style="height: 35rem;" class="img-fluid rounded-pill">
        </div>
    </div>
</section>
<app-home2></app-home2>

