<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-3 m-3 card shadow"  style="background-color: rgba(152, 191, 228, 0.705);">
      <div class="d-flex flex-column flex-shrink-0 p-3 " style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center m-2  link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
              choose a user ...
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li><a class="dropdown-item" href="#">user 1</a></li>
              <li><a class="dropdown-item" href="#">user 2</a></li>
              <li><a class="dropdown-item" href="#">user 3</a></li>
             
            </ul>
            <hr>
          </div>
        </a>
      </div>
    </div>

  
    <div class="col-md-8">
      <div class="container card mt-3 shadow" style="background-color: rgba(152, 191, 228, 0.705);">
        <img [src]="logoUrl" style="height: 5rem; width: 5rem;">

        <div class="d-flex bg-white chat-container">
          <div class="list-group list-group-flush border-bottom scrollarea" style="min-height: 350px;">
            <div class="list-group-item rounded-pill d-inline-flex text-wrap text-white bg-primary m-1" *ngFor="let msg of messages" style="display: inline;">
              <span>{{ msg.message }}</span>
            </div>
          </div>
        </div>

        <form (submit)="submit()" class="d-flex chat-input">
          <input type="text" placeholder="Type a message..." class="form-control m-2" [(ngModel)]="message">
          <button type="submit" class="btn btn-primary m-2">
            <i class="fas fa-paper-plane"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


