<div class="body">
<div class="overlay"></div>
<div class="container-fluid bg-img">
  <div class="row justify-content-center align-items-center h-100 pt-5">
    <div class="col-sm-6 col-md-4 mt-5">
      <div class="card">
        <div class="card-header text-center">
          <h2>Login</h2>
        </div>
        <div class="card-body">

        <form method="post" [formGroup]="login" (ngSubmit)="userLogin()">
        <div class="form-group">

              <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" formControlName="email" >

                  <span *ngIf="login.controls['email'].touched && login.controls['email'].invalid">

                        <span *ngIf="login.controls['email'].errors?.['required']" class="text-danger">
                              this filed is required
                        </span>
                        <span *ngIf="login.controls['email'].errors?.['pattern']" class="text-danger">
                        this not valid Email
                        </span>

                  </span>
        </div>
        <div class="form-group">
        <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword" formControlName="password" >
          <span *ngIf="login.controls['password'].touched && login.controls['password'].invalid">

              <span *ngIf="login.controls['password'].errors?.['required']" class="text-danger">
                    this filed is required
              </span>
              <span *ngIf="login.controls['password'].errors?.['minlength']" class="text-danger">
                                minlength is 8 chars
              </span>

        </span>
        </div>

            <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
            </div> -->

            <button type="submit" class="btn btn-primary" [disabled]="login.invalid">Login</button>
          </form>
</div>
<div class="card-footer text-center">
    <p>Forgot password? <a (click)="reset(content)">Reset</a></p>
  <p>Don't have an account? <a href="/Register">Register here</a></p>
</div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Reset Password</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label class="form-label" for="Email">Email</label>
				<div  class="input-group">
					<input #email
						id="mail"
						class="form-control"
						placeholder="enter your email"
						name="email"
					/>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary mt-3" (click)="sendCode(email.value,content2)">send code</button>
	</div>
</ng-template>


<ng-template #content2 let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Reset Password</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
      <div class="alert alert-success">code send to your mail successfully</div>
			<div class="mb-3">
				<label class="form-label" for="Email">Enter verification code</label>
				<div class="input-group">
					<input #code
						id="code"
						class="form-control"
						placeholder="code "
						name="code"
					/>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary mt-3" (click)="checkCode(code.value,content3)">verify</button>
	</div>
</ng-template>


<ng-template #content3 let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Reset Password</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form enctype="multipart/form-data" [formGroup]="resetForm">
			<div class="mb-3">
				<label class="form-label" for="password">New password</label>
				<div class="input-group">
					<input
          type="password"
						id="password"
						class="form-control"
						placeholder=""
						name="password"
            formControlName="pass"
					/>
				</div>
        <div class="alert alert-danger p-1 mt-1"
        *ngIf="resetForm.controls['pass'].touched && resetForm.controls['pass'].invalid">
        <span class="d-block" *ngIf="resetForm.controls['pass'].errors?.['required']"><i
            class="fa-solid fa-triangle-exclamation"></i> password is required</span>
        <span class="d-block" *ngIf="resetForm.controls['pass'].errors?.['pattern']"><i
            class="fa-solid fa-triangle-exclamation"></i> password must be like 'Abcde123'</span>
        <span class="d-block" *ngIf="resetForm.controls['pass'].errors?.['minlength']"><i
            class="fa-solid fa-triangle-exclamation"></i> password min length is 8</span>
      </div>
			</div>
      <div class="mb-3">
				<label class="form-label" for="confirm">Confirm password</label>
				<div class="input-group">
					<input #pass
          type="password"
						id="confirm"
						class="form-control"
						placeholder=""
						name="confirm"
            formControlName="confirmPass"
					/>
				</div>
        <div class="alert alert-danger p-1 mt-1"
        *ngIf="resetForm.controls['confirmPass'].touched && resetForm.controls['confirmPass'].invalid">
        <span class="d-block" *ngIf="resetForm.controls['confirmPass'].errors?.['required']"><i
            class="fa-solid fa-triangle-exclamation"></i> confirm is required</span>
      </div>
      <div *ngIf="resetForm.controls['confirmPass'].touched">
      <span class="alert alert-danger p-1 mt-1 d-block" *ngIf="resetForm.controls['confirmPass'].value != resetForm.controls['pass'].value"><i
          class="fa-solid fa-triangle-exclamation"></i> password don't match</span>
    </div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary mt-3" (click)="resetPassword(pass.value)" [disabled]="resetForm.invalid">reset password</button>
	</div>
</ng-template>
